@font-face {
    font-family: "SimplePrint-Regular";
    src: url("../assets/fonts/SimplePrint.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/SimplePrint.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/SimplePrint.otf") format("opentype"), /* Open Type Font */
      url("../assets/fonts/SimplePrint.svg") format("svg"), /* Legacy iOS */
      url("../assets/fonts/SimplePrint.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/SimplePrint.woff") format("woff"), /* Modern Browsers */
      url("../assets/fonts/SimplePrint.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }